{% extends 'base.html.twig' %}

{% block title %}{{ 'service_livraison_title'|trans }} - Beshbarmaq Food{% endblock %}

{% block body %}
<main>
    <div class="container">
        <div class="breadcrumb-container mt-4">
            <nav class="breadcrumb has-arrow-separator is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ path('accueil') }}">{{ 'breadcrumb_home'|trans }}</a></li>
                    <li class="is-active"><a href="{{ path('livraison') }}" aria-current="page">{{ 'breadcrumb_livraison'|trans }}</a></li>
                </ul>
            </nav>
        </div>

        <section class="livraison section">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-half">
                        <div class="content">
                            <p><strong>Beshbarmaq Food</strong>, {{ 'livraison_intro_1'|trans }}</p>
                            <p>{{ 'livraison_intro_2'|trans }}</p>
                            <p>{{ 'livraison_intro_3'|trans }}</p>
                            <p>{{ 'livraison_price_info'|trans }}</p>
                        </div>
                    </div>
                    <div class="column is-half">
                        <figure class="image is-4by3">
                            <img src="{{ asset('Restaurant-Online-Food-Delivery-1.webp') }}" alt="{{ 'livraison_image_alt'|trans }}">
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
