{% extends "base.html.twig" %}

{% block title %}{{ 'menu_title'|trans }}{% endblock %}

{% block body %}
<main>
    <section class="section entrees" data-aos="fade-up">
        <div class="container has-text-centered">
            <h1 class="title is-1">{{ 'entrees_title'|trans }}</h1>
            <div class="columns">
                <div class="column is-half">
                    <img src="{{ asset('plats/Uzbek-Samsa-1.jpg') }}" alt="Samsa">
                </div>
                <div class="column is-half">
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'samsa_description'|trans }}</h4>
                        <span>3.50€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'baurzaks_description'|trans }}</h4>
                        <span>2.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'kurt_description'|trans }}</h4>
                        <span>2.50€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'zhaya_description'|trans }}</h4>
                        <span>4.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'taba_nan_description'|trans }}</h4>
                        <span>1.50€</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section plats" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="container has-text-centered">
            <h1 class="title is-1">{{ 'plats_title'|trans }}</h1>
            <div class="columns">
                <div class="column is-half">
                    <img src="{{ asset('plats/Beshbarmak-Kazakh-National-Dish-1000x800.jpg') }}" alt="Beshbarmak">
                </div>
                <div class="column is-half">
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'beshbarmak_description'|trans }}</h4>
                        <span>8.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'kazy_description'|trans }}</h4>
                        <span>7.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'kuurdak_description'|trans }}</h4>
                        <span>6.50€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'shashlik_description'|trans }}</h4>
                        <span>5.50€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'plov_description'|trans }}</h4>
                        <span>7.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'lagman_description'|trans }}</h4>
                        <span>6.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'manty_description'|trans }}</h4>
                        <span>5.00€</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section desserts" data-aos="fade-up" data-aos-offset="500" data-aos-easing="ease-in-sine">
        <div class="container has-text-centered">
            <h1 class="title is-1">{{ 'desserts_title'|trans }}</h1>
            <div class="columns">
                <div class="column is-half">
                    <img src="{{ asset('plats/Baursaki-680.jpg') }}" alt="Baursaki">
                </div>
                <div class="column is-half">
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'shelpek_description'|trans }}</h4>
                        <span>2.50€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'baursak_description'|trans }}</h4>
                        <span>2.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'kuyrdak_description'|trans }}</h4>
                        <span>3.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'chak_chak_description'|trans }}</h4>
                        <span>2.50€</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section boissons" data-aos="fade-up" data-aos-offset="700" data-aos-easing="ease-in-sine">
        <div class="container has-text-centered">
            <h1 class="title">{{ 'boissons_title'|trans }}</h1>
            <div class="columns">
                <div class="column is-half">
                    <img src="{{ asset('plats/airag-drink.jpg') }}" alt="Boissons">
                </div>
                <div class="column is-half">
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'kumis_description'|trans }}</h4>
                        <span>3.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'shubat_description'|trans }}</h4>
                        <span>2.50€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'airan_description'|trans }}</h4>
                        <span>2.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'kymyz_description'|trans }}</h4>
                        <span>3.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'tchai_description'|trans }}</h4>
                        <span>1.50€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'kompot_description'|trans }}</h4>
                        <span>2.00€</span>
                    </div>
                    <div class="menu-item">
                        <h4 class="subtitle is-4">{{ 'kvass_description'|trans }}</h4>
                        <span>2.50€</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
