{% extends "base.html.twig" %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
<main>
    <div class="container has-text-centered">
        <div class="box">
            <div class="content is-normal">
                <figure class="image">
                    <img src="{{ asset('uploads/' ~ blog.image) }}" alt="{{ blog.title }}">
                </figure>
                <h1 class="title">{{ blog.title }}</h1>
                <p>
                    {{ blog.content|raw }}
                </p>
                <h2 class="subtitle">Écrit par : {{ blog.author.nom }}</h2>
                <time datetime="{{ blog.createdAt|date('Y-m-d') }}">{{ blog.createdAt|date('d/m/Y') }}</time>
            </div>
        </div>
    </div>
</main>
{% endblock %}
